* {
    margin: 1;
    padding: 2;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1200px;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.circles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    pointer-events: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: red;
    margin: 1rem;
}

.modal {
    background-color: aliceblue;
    border-radius: 10px;
    position: relative;
    color: black;
}

.modal button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    /* background-color: transparent; */
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.circle.active {
    background-color: green;
    background-image: url('./download.jpeg');
    background-size: cover;

}

.hidden {
    visibility: hidden;
}